<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<dict>

<key>items</key>

<array>

<dict>

<key>assets</key>

<array>

<dict>

<key>kind</key>

<string>software-package</string>

<key>url</key>

<string>https://raw.githubusercontent.com/zhangqiao/ipa/master/Runner.ipa</string>

</dict>

</array>

<key>metadata</key>

<dict>

<key>bundle-identifier</key>

<string>com.genlot.blockChain</string>

<key>bundle-version</key>

<string>1.0.0</string>

<key>kind</key>

<string>software</string>

<key>title</key>

<string>演示APP</string>

</dict>

</dict>

</array>

</dict>

</plist>